/*middle image styles*/
/* .middle-image a img {
    margin-top: 50px;
    max-width: 1300px;
} */
.trending-holiday-section {

    margin-left: 160px;
    margin-bottom: 80px;
}
.middle-image a img {
    margin-top: 20px;
    max-width: 500px;
}
/* Media queries for tablets */
@media (max-width: 768px) {
    .middle-image a img {
        margin-top: 20px;
        max-width: 500px;
    }
    .trending-holiday-section {
        margin-left: 80px;
        margin-bottom: 80px;
    }
}

/* Media queries for mobile phones */
@media (max-width: 480px) {
    .middle-image a img {
        margin-top: 10px;
        max-width: 300px;
    }
    .trending-holiday-section {
        margin-left: 5px;
        margin-bottom: 20px;
    }
}
